*{box-sizing: border-box;}
body{
  font-family: 'Coming Soon', cursive;
  transition: all 1s ease;
  background:#3498db;

}

p{
  color:#ecf0f1;
  font-size: 2em;
  text-align: center;
}

.slide{
  .inside{
    display: table;
    height:100%;
    width:100%;
    padding:0 3em;

    p{
      display: table-cell;
      width: 100%;
      clear: both;
      vertical-align: middle;
      text-align: center;
    }
  }

}